<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="softwaretestingmaterial">
    <listeners>
    <listener class-name="com.iNetbanking.utilities.Reporting" />
    </listeners>
	<test name="testngTest">
	<parameter name="browser" value="chrome"/>
		<classes>
		    <class name="com.iNetbanking.testcases.TC_Logintest_001" />
			 <class name="com.iNetbanking.testcases.TC_HeaderLogoDisplayed_002" />
		</classes>
	</test>
</suite>
